# ignored files
.svn
.DS_Store
*.[ao]
*.pyc
*~

# ignored directories
app/.eggs/
app/build/
app/dist/


# this and a few subfiles are in the repo, but I don't think it's being used at all
bin/Correlator.app/

bin/CorrelatorNoFrame.app/
bin/public-export/
bin/static/build/
bin/static/Correlator.app/

lib/
releases/

win32/Debug/
win32/Release/
win32/x64/
