altgraph==0.17.4
future==0.18.3
imagesize==1.4.1
importlib-metadata==7.0.1
macholib==1.16.3
modulegraph==0.19.6
numpy==1.26.0
packaging==23.2
pandas==2.1.1
Pillow==10.0.1
pycodestyle==2.11.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.11
python-dateutil==2.8.2
pytz==2023.3.post1
six==1.16.0
tomli==2.0.1
tzdata==2023.3
wxPython==4.2.1
zipp==3.17.0
